# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# System Files
.DS_Store
.env
.env.local

# Heavy Audio (We will force add these later)
python/dataset/
*.mscz




__pycache__
.trunk